<% content_for(:title) do %>Modifier une équipe<% end -%>

<% form_for(@team, :html => { :class => "MainForm" }) do |f| %>
<%= f.error_messages %>

<%= f.label :name, 'Nom' %>
<%= f.text_field :name %>

<p>
  <%= f.submit "Valider" %>
</p>
<% end %>

<%= link_to 'Retour', teams_path %>
<%= render :partial => 'users/help_box' %>
