<% content_for(:title) do %>Équipes de l'utilisateur "<%=h @user.login%>"<% end -%>

<h4>Équipes assignées:</h4>
<ul><%= render :partial => 'team', :collection => @user.teams %></ul>

<h4>Équipes disponibles:</h4>
<ul><%= render :partial => 'team', :collection => (@teams - @user.teams) %></ul>

<%= link_to "Retour", users_path %>
<%= render :partial => 'users/help_box' %>
