<% content_for(:title) do %>Nouvelle équipe<% end -%>

<% form_for(@team) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, 'Nom' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Valider" %>
  </p>
<% end %>

<%= render :partial => 'users/help_box' %>
