<h3>Connexion</h3>

<% form_tag(session_path, {:class => 'MainForm'}) do -%>

        <%= label_tag 'login' %>
        <%= text_field_tag 'login', @login %>

        <%= label_tag 'mot de passe' %>
        <%= password_field_tag 'password', nil %>

        <fieldset>
        <%= check_box_tag 'se souvenir de moi', '1', @remember_me %> Se souvenir de moi
        </fieldset>

        <p><%= submit_tag 'Valider' %></p>
<% end -%>

<% content_for(:sidebar) do %>
        <div class="box">
                <h3>Aide</h3>
                <p>
                Pas de compte ?
                <br/>
                <%= mail_to "info@teamtracking.com", "» Cliquez ici pour en demander un",
					:subject => "Demande de compte" %>
                </p>
                <p>
                Mot de passe oublié ?
                <br/>
                <%= mail_to "info@teamtracking.com", "» Cliquez ici pour en demander un nouveau",
					:subject => "Changement de mot de passe" %>
                </p>
        </div>
<% end -%>

<% content_for(:head) do %>
        <script type='text/javascript'>
          document.getElementById('login').focus()
        </script>
<% end -%>

