<% content_for(:title) do %>Modifier un poste<% end -%>

<% form_for(@occupation, :html => { :class => "MainForm" }) do |f| %>
<%= f.error_messages %>

<%= f.label :title, 'Titre' %>
<%= f.text_field :title %>

<p><%= f.submit "Valider" %></p>
<% end %>

<%= link_to 'Voir', @occupation %> |
<%= link_to 'Retour', occupations_path %>
<%= render :partial => 'users/help_box' %>

