<% content_for(:title) do %>Liste des métiers<% end -%>

<table>
  <tr>
    <th>Titre</th>
    <th>Actions</th>
  </tr>

<% for occupation in @occupations %>
  <tr>
    <td><%=h occupation.title %></td>
    <td>
      [ <%= link_to 'Voir', occupation %> ]
      [ <%= link_to 'Modifier', edit_occupation_path(occupation) %> ]
      [ <%= link_to 'Supprimer', occupation, :confirm => 'Etes vous sûr ?', :method => :delete %> ]
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'Nouveau métier', new_occupation_path %>
<%= render :partial => 'users/help_box' %>
