<% content_for(:title) do %>Nouveau métier<% end -%>

<% form_for(@occupation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title, 'Titre' %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit "Valider" %>
  </p>
<% end %>

<%= link_to 'Retour', occupations_path %>
<%= render :partial => 'users/help_box' %>

