<h3>Modifier votre mot de passe</h3>

<% @user.password = @user.password_confirmation = nil %>
<%= error_messages_for :user %>

<% form_for :user, :url => { :action => 'update' }, :html => { :class => 'MainForm' } do |f| -%>

<%= label_tag 'old_password', 'Ancien mot de passe:'  %>
<%= f.password_field :old_password %>

<%= label_tag 'password', 'Mot de passe:'  %>
<%= f.password_field :password %>

<%= label_tag 'password_confirmation', 'Confirmez le mot de passe:' %>
<%= f.password_field :password_confirmation %>

<p><%= submit_tag 'Valider' %></p>
<% end -%>

<% content_for(:sidebar) do %>
<div class="box">
	<h3>Aide</h3>
</div>
<div class="box alt">
	<h3>Attention</h3>
	<p>Votre mot de passe doit comporter au minimum 6 caractères alphanumériques.</p>
</div>
<% end -%>

<% content_for(:head) do %>
<script type='text/javascript'>
document.getElementById('password').focus()
</script>
<% end -%>
