<% content_for(:title) do %>
<% if @user == current_user -%>
Votre profil
<% else -%>
Profil de l'utilisateur
<% end -%>
<% end -%>

<p><strong>Login:</strong> <%=h @user.login %></p>
<p><strong>Nom:</strong> <%=h @user.name %></p>
<p><strong>Email:</strong> <%=h @user.email %></p>
<p><strong>Société:</strong> <%=h @user.job.company.name %></p>
<p><strong>Statut:</strong> <%=h @user.job.occupation.title %></p>
<% if current_user.has_role?('administrator') %>
<p><strong>Tarif:</strong> <%=h @user.job.rate %> &euro;</p>
<% end -%>
<p>
	<strong>Equipes:</strong>
	<ul>
	<% @user.teams.each do |team| -%>
		<li><%=h team.name %></li>
	<% end -%>
	</ul>
</p>
<p><strong>Inscrit le:</strong> <%= @user.created_at.to_s(:long) %></p>

<p>
	<%= link_to "Modifier", edit_user_path(@user) %>
<% if current_user.has_role?('administrator') %>
	| <%= link_to "Retour", users_path %>
<% end %>
</p>

<% if current_user.has_role?('administrator') %>
	<%= render :partial => 'help_box' %>
<% end %>
