<table class="calendar">
	<thead>
		<tr><th><%= link_to "&lt;&lt;", { :action => 'index', :date => calendar.last_month }, { :title => "Mois précédent" } %></th><th colspan="6"><%= calendar.to_s(:month) %></th><th><%= link_to "&gt;&gt;", { :action => 'index', :date => calendar.next_month }, { :title => "Mois suivant" } %></th></tr>
		<tr class="week"><th></th><th>Lun</th><th>Mar</th><th>Mer</th><th>Jeu</th><th>Ven</th><th>Sam</th><th>Dim</th></tr>
	</thead>
	<tbody>
<% calendar.weeks_of_month.each do |week| -%>
		<tr class="week">
			<th><%= week.first.week_number %><br/><input type="checkbox" name="week<%= week.first.week_number %>" id="week<%= week.first.week_number %>" /></th>
<% week.each do |date| -%>
<% if date.is_weekend? -%>
			<td><table class="<%= calendar_classes_of(date, calendar.month) %>"><tr><td><%= date.day %></td></tr><tr><td>&nbsp;</td></tr></table></td>
<% else -%>
			<td><table class="<%= calendar_classes_of(date, calendar.month) %>"><tr><td><input type="checkbox" name="day<%= date.to_s(:number) %>" id="day<%= date.to_s(:number) %>" /></td><td><%= date.day %></td></tr><tr><td><input type="checkbox" name="am<%= date.to_s(:number) %>" id="am<%= date.to_s(:number) %>" title="matin" /></td><td><input type="checkbox" name="pm<%= date.to_s(:number) %>" id="pm<%= date.to_s(:number) %>" title="après midi" /></td></tr></table></td>
<% end -%>
<% end -%>
		</tr>
<% end -%>
	</tbody>
</table>
