<% if logged_in? -%>
<% unless current_user.has_role?('reports_reader') && !current_user.has_at_least_one_team? %>
<ul id="tabs">
	<% if current_user.has_role?('administrator') -%>
	<li class="<%= selected_if([HomeController.controller_name]) %>">
		<%= link_to "Accueil", :controller => "home", :action => "index" %>
	</li>
	<% end -%>
	<li class="<%= selected_if([EffectiveAttendancesController.controller_name]) %>">
		<%= link_to "Jours consommés", :controller => "effective_attendances", :action => "index" %>
	</li>
	<li class="<%= selected_if([ExpectedAttendancesController.controller_name]) %>">
		<%= link_to "Prévisions", :controller => "expected_attendances", :action => "index" %>
	</li>
	<% if current_user.has_reports_permissions? -%>
	<li class="<%= selected_if([ReportsController.controller_name]) %>">
		<%= link_to "Rapports", :controller => "reports", :action => "index" %>
	</li>
	<% end -%>
	<% if current_user.has_role?('administrator') -%>
	<li class="<%= selected_if([UsersController.controller_name, TeamsController.controller_name, SprintsController.controller_name, CompaniesController.controller_name, JobsController.controller_name, RolesController.controller_name, OccupationsController.controller_name]) %>">
		<%= link_to "Administration", users_path %>
	</li>
	<% end -%>
</ul>
<% end -%>
<% end -%>
