<h3>Bienvenue</h3>

<ul id="tabs">
	<li id="worked_days_tab" class="selected">
		<%= link_to "Jours consommés", :action => "index" %>
	</li>
	<li id="forcasting_tab">
		<%= link_to "Prévisions", :action => "index" %>
	</li>
	<li id="stats_tab">
		<%= link_to "Statistiques", :action => "index" %>
	</li>
</ul>

<% form_tag :action => "update" do -%>
<p>
	<%= render :partial => 'calendar', :object => @date %>
</p>
<p id="submit">
	<%= submit_tag "Valider" %>
</p>
<% end -%>

<% content_for(:sidebar) do %>
<div class="box">
	<h3>Aide</h3>
	<ul>
		<li>Saisissez ici le temps que vous avez passé au sein de votre équipe.</li>
		<li>Pour chaque jour vous pouvez sélectionner le jour entier ou seulement le matin, ou l'après-midi.</li>
	</ul>
  <p class="warning">
    ATTENTION ! N'oubliez pas de valider le formulaire avant de changer de mois.
  </p>
	<div class="alt">
		<strong>Astuces :</strong><br/>
		» Cocher ou décocher la semaine complète en utilisant les liens situés en dessous du numéro de semaine.<br/>
		» Cliquer sur le numéro du jour pour cocher ou décocher le matin et l'après-midi.
	</div>
</div>
<% end -%>

