<%= sprint.error_messages %>
<%= sprint.hidden_field :team_id, :name => "sprint[team_id]" %>

<%= sprint.label :name, "Nom", :name => "sprint[name]" %>
<%= sprint.text_field :name, :name => "sprint[name]" %>

<%= sprint.label :starts_on, "Début", :name => "sprint[starts_on]" %>
<%= sprint.text_field :starts_on_formatted, :name => "sprint[starts_on_formatted]", :class => 'datepicker' %>
<%= simple_datepicker_for "team_starts_on_formatted" %>

<%= sprint.label :ends_on, "Fin", :name => "sprint[ends_on]" %>
<%= sprint.text_field :ends_on_formatted, :name => "sprint[ends_on_formatted]", :class => 'datepicker' %>
<%= simple_datepicker_for "team_ends_on_formatted" %>

<p><%= sprint.submit "Valider" %></p>
