<% content_for(:title) do %>Liste des sociétés<% end -%>

<table>
  <tr>
    <th>Nom</th>
		<th>Actions</th>
  </tr>

  <% for company in @companies %>
  <tr>
    <td><%=h company.name %></td>
		<td>
			[ <%= link_to 'Voir', company %> ]
			[ <%= link_to 'Modifier', edit_company_path(company) %> ]
			[ <%= link_to 'Supprimer', company, :confirm => 'Etes vous sûr ?', :method => 'delete' %> ]
		</td>
  </tr>
  <% end %>
</table>

<%= render :partial => 'users/help_box' %>
