<% content_for(:title) do %>Nouvelle société<% end -%>

<% form_for(@company, :html => { :class => 'MainForm' }) do |f| %>
<%= f.error_messages %>

<%= f.label :name, 'Nom' %>
<%= f.text_field :name %>

<p><%= f.submit "Valider" %></p>
<% end %>

<%= render :partial => 'users/help_box' %>
