<table class="calendar">
	<thead>
		<tr>
			<th>
				<%= link_to "&lt;&lt;", { :action => 'index', :date => @date.last_year, "user[id]" => @user.id }, { :title => "Année précédente" } %>&nbsp;&nbsp;
				<%= link_to "&lt;", { :action => 'index', :date => @date.last_month, "user[id]" => @user.id }, { :title => "Mois précédent" } %>
      		</th>
			<th colspan="6"><%= @date.to_s(:month) %></th>
			<th>
        		<%= link_to "&gt;", { :action => 'index', :date => @date.next_month, "user[id]" => @user.id }, { :title => "Mois suivant" } %>&nbsp;&nbsp;
        		<%= link_to "&gt;&gt;", { :action => 'index', :date => @date.next_year, "user[id]" => @user.id }, { :title => "Année suivante" } %>
      		</th>
		</tr>
		<tr class="week">
			<th></th>
			<th>Lun</th>
			<th>Mar</th>
			<th>Mer</th>
			<th>Jeu</th>
			<th>Ven</th>
			<th>Sam</th>
			<th>Dim</th>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'attendances/attendance_week', :collection => attendance_calendar %>
	</tbody>
</table>
